/*global style*/

a {
  text-decoration: none;
  color: #fff;
}

.clearfix {
  clear: both;
}

/*app styles*/

body {
  width: 900px;
  margin: 0 auto;
}

header {
  width: 900px;
  height: 50px;
  margin-top: 35px;
  margin-bottom: 25px;
}

#logo {
  float: left;
  margin-right: 10px
}

#main-head {
  float: left;
}

#main-head h1{
  font-family: 'Yellowtail', cursive;
  font-size: 40px;
  margin-top: -5px;
}

#main-head h5 {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 10px;
  letter-spacing: .01em;
  color: #666;
}

.nav {
  float: right;
  margin-top: 10px;
}

.nav ul li {
  display: inline-block;
  margin-left: -2px;
}

.nav ul li:nth-child(6) {
  margin-right: 7px;
}

.spacer {
  height: 13px;
  background: #000;
}

/*main starts here!*/

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 55px;
  margin-bottom: 10px;
}

.sub-h1 {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 12px;
  color: #bbb;
  margin-bottom: 53px;
}

.sub-h1 h6{
  float: left;
}

.sub-h1 img {
  float: right;
}

.sub-h1 span{
  float: right;
}

#hero {
  margin-bottom: 30px;
}

p {
  text-indent: 30px;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  letter-spacing: .5px;
  line-height: 25px;
  color: #777;
  margin-bottom: 30px;
  margin-right: 0px;
}

.list {
background-image: url("images/list-bg.png");
outline: 1px dotted orange;
height: 300px;

}

.check-box{
  display: inline-block;
  height: 250px;
  margin-left: 60px;
  margin-top: 37px;
  font-family: 'Delius', cursive;
  font-size: 20px;
  color: #888;
  line-height: 31px;
  /*outline: 1px dotted orange;*/
  margin-bottom: 60px;
}

#check2 {
  width: 400px;
  margin-left: 150px;
}

.check-box input {
  margin-right: 15px;

}

.spacer2 {
  margin-top: 40px;
  height: 13px;
  background: #000;
}

footer {
  height: 375px;
  width: 100%;
}

.face img {
  float: left;
  margin-top: 20px;
}

#foot-head{
  float: left;
  width: 550px;
}

#foot-head h3 {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 2px;
}

#foot-head p {
  font-size: 12px;
  margin-left: -15px;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 1px;
}

button {
  float: right;
  border: none;
  background: #c7715f;
  color: white;
  height: 55px;
  margin-top: 33px;
  width: 185px;
  font-size: 15px;
}

#mini-logo {
  margin-top: 80px;
  margin-bottom: 20px;
}

#sub-foot{
  text-align: center;
}

#sub-foot{
  margin-bottom: -15px;
}
